name: CI

on:
  push:
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pybind11

      - name: Build C++ library
        run: make lib

      - name: Build Python extension
        run: make pyext

      - name: Install Python package
        run: pip install -e .

      - name: Run tests
        run: python -m unittest discover -s tests -p "test*.py" -v

